body{
	background: #cbeaff;
}
.ambil-antrian {
    width: 200px;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px !important;
    margin: 10px;
    display: flex !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px;
    color: #FFFFFF !important;
}

.content-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 70vh;
    position: relative;
    overflow: scroll;
    gap: 20px;
    align-content: flex-start;
    justify-content: center;
}
.name-kategori {
    font-size: 12px;
    text-align: center;
    color: black;
    font-weight: bold;
    /* margin: auto 30px; */
}
.card-list-kategori {
    border: none;
    width: 200px;
    border-radius: 20px;
    height: 200px;
    padding: 30px 0px;
}
.img-antrian-logo {
    height: 100px;
    align-items: center;
    width: 100%;
    object-fit: contain;
}
.wrap-antrian {
    margin: 15px;
    flex-direction: column;
    display: flex;
}
.card-list-kategori {
    border: none;
    width: 200px;
    border-radius: 20px;
    height: 200px;
    padding: 30px 0px;
}
.ambil-antrian {
    background-color: white;
	transition: all .3s;
}

.ambil-antrian:hover {
	filter: brightness(90%);
  
}

.ambil-antrian:focus {
	filter: brightness(85%);
	outline: none !important;
	box-shadow: none;
}

.title {
    color: #000000;
    margin-top: 50px;
    width: 800px;
    font-weight: bold;
    margin: 30px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
}